@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); 

  body{
     background-color:#131313;
     }
  
    p{ color: #bdbdbd;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  
    }
    img {height: 100%;
      width: 100%;
      background-position: center;

    }




  h1{ color:white ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
  
  }
  div{ background-size: 100px;
    background-position: center;
  
  
  }
  span{ color: white;
      background-color: #e6bd09;
      padding: 12px;


  }
  a{color: yellow;

  }



  h2{
     color:steelblue ;
     font-size: 20px;
     
  }
  ul{    color:#333333 ;
    color:rgb(223, 215, 185);
    padding: 10px;
    background-color: #333333;}
  
